<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>blog.8-p.info</title>
  </head>
  <body>
    <div id="container">
      <p>
        <strong>blog.8-p.info</strong>
        was the domain I had been using before.
        Then I ended up having
        <a href="http://2012.8-p.info/">2012.8-p.info</a>,
        <a href="http://2013.8-p.info/">2013.8-p.info</a>, and
        <a href="http://2014.8-p.info/">2014.8-p.info</a>, ...
      </p>

      <% years.keys.sort.reverse.each do |year| %>
      <div class="year-<%= year %>">
        <h1><%= year %></h1>
        <% years[year].keys.sort.each do |month| %>
          <% articles = years[year][month]; next unless articles %>
            <h2><%= month %></h2>
            <ul>
              <% articles.each do |article| %>
              <li><a href="<%= article.path %>"><%= article.title %></a></li>
              <% end %>
            </ul>
        <% end %>
      </div>
      <% end %>
    </div>
  </body>
</html>
