<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>blog.8-p.info / 2005 - 2011</title>
  </head>
  <body>
    <div id="container">
      <h1>blog.8-p.info / 2005 - 2011</h1>

      <% years.keys.sort.reverse.each do |year| %>
      <div class="year-<%= year %>">
        <h1><%= year %></h1>
        <% years[year].keys.sort.each do |month| %>
          <% articles = years[year][month]; next unless articles %>
            <h2><%= month %></h2>
            <ul>
              <% articles.each do |article| %>
              <li><a href="/<%= article.path %>"><%= article.title %></a></li>
              <% end %>
            </ul>
        <% end %>
      </div>
      <% end %>
    </div>
  </body>
</html>
